	.inputStyle {
            text-align: center;
            background-color: #f5f5dc;
            font-size: 40px;
            font-weight: bold;
            border: solid brown 2px;
            width: 100px;
            height: 100px;
            padding-top: 17px;
        }

        .button {
            width: 80px;
            height: 80px;
            border: solid blue 2px;
            background-color: lightsteelblue;
            border-radius: 10px;
            text-align: center;
            color: white;
            display: inline-block;
        }

        .buttonLeft::after {
            content: "\2190";
            font-size: 45px;
        }

        .buttonRight::after {
            content: "\2192";
            font-size: 45px;
        }

        .buttonUp::after {
            content: "\2191";
            font-size: 45px;
        }

        .buttonDown::after {
            content: "\2193";
            font-size: 45px;
        }

        .buttonMargin {
            margin-right: 1%;
        }

        table{
            margin: 0;
            display: inline-block;
        }

        h2 {
            margin-bottom: 3%;
            font-weight: bold;
            font-size: 40px;
            color: brown;
            display:inline-block;
        }

        .newGameButton {
            display: inline-block;
            margin-left: 3%;
            background-color: rgba(179, 113, 113, 0.89);
            padding: 10px;
            border-radius: 10px;
            font-size: 20px;
            font-weight: bold;
            color: white;
        }

        .hover:hover {
            background-color: rgba(230, 179, 162, 0.65);
            cursor: pointer;
        }
        .saveGameButton {
            display: inline-block;
            background-color: rgba(179, 113, 113, 0.89);
            padding: 10px;
            border-radius: 10px;
            font-size: 20px;
            font-weight: bold;
            color: white;
        }

        .resultFields {
            display: inline-block;
            padding: 20px;
            background-color: rgba(179, 113, 113, 0.89);
            color: white;
            border-radius: 10px;
            margin-bottom: 2%;
        }

        .wrapperDiv {
            text-align: center;
            border: solid brown 2px;
            background-color: rgba(225, 188, 188, 0.60);
            border-radius: 3px;
        }

        .alertMessage {
            display: inline-block;
            width: 15%;

        }

        .colorClass2 {
            background-color: rgba(195, 73, 73, 0.80);  
            color: #fcc8b6;
        }

        .colorClass4 {
            background-color: rgb(220, 150, 150);
            color: #fcc8b6;
        }

        .colorClass8 {
            background-color: rgba(255, 170, 43, 0.70);
            color: #eeeeee;
        }

        .colorClass16 {
            background-color: rgba(250, 123, 48, 0.70);
            color: #eeeeee;
        }

        .colorClass32 {
            background-color: rgba(251, 91, 80, 0.70);
            color: #eeeeee;
        }

        .colorClass64 {
            background-color: rgba(255, 9, 9, 0.60);
            color: #eeeeee;
        }

        .colorClass128 {
            background-color: rgb(235, 122, 84);
            color: #eeeeee;
        }

        .colorClass256 {
            background-color: rgb(239, 211, 80);
            color: #eeeeee;
        }

        .colorClass512 {
            background-color: rgba(231, 96, 56, 0.85);
            color: #eeeeee;
        }

        .colorClass1024 {
            background-color: rgba(157, 47, 47, 0.70);
            color: #eeeeee;
        }

        .colorClass2056 {
            background-color: rgba(180, 104, 63, 0.75);
            color: #eeeeee;
        }