﻿@if (@ViewBag.GameOver != null)
{
<div class="alert alert-warning alert-dismissible alertMessage fade in">
    <strong>@ViewBag.GameOver</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
}   
<div>
    <div class="resultFields">Result: @ViewBag.Result</div>
    <div class="resultFields">Record: @ViewBag.Record</div>
</div>
<table align="center">
    <tbody>
        @for (int row = 0; row < Model.GetLength(0); row++)
        {
            <tr>
                @for (int col = 0; col < Model.GetLength(0); col++)
                {
                    <td>
                        @if (Model[row, col] != 0)
                        {
                            string cssClass = string.Format("colorClass{0}", Model[row, col]);

                            <div class="inputStyle @cssClass">@Model[row, col]</div>
                        }
                        else
                        {
                            <div class="inputStyle"></div>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>