﻿@model ProjectGame2048.Models.GameModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="~/css/game2048.css" rel="stylesheet" />
    <title>2048 Game</title>
</head>
<body>
    <div class="wrapperDiv">
        <div>
            <h2>2048</h2>
            <div class="newGameButton hover" id="newGame">
                New Game
            </div>
            <div class="saveGameButton hover" id="saveGame">
                Save Game
            </div>
            <div class="saveGameButton hover" id="loadGame">
                Load Saved Game
            </div>
        </div>
        <form method="post" id="gameField" asp-action="Move" asp-controller="Game">
            <div id="partial">
                <partial name="GameTable.cshtml" model="Model.GameField" />
            </div>
        </form>
        <div style="margin-top: 5%; margin-bottom: 3%;">
            <button class="button buttonMargin buttonLeft hover" value="Left"></button>
            <button class="button buttonMargin buttonRight hover" value="Right"></button>
            <button class="button buttonMargin buttonUp hover" value="Up"></button>
            <button class="button buttonDown hover" value="Down"></button>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/movement.js"></script>
</body>
</html>